<a href="https://colab.research.google.com/github/mahossaineeejust/Python-First-Code/blob/main/Python_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=10
y=12
z=x+y
print(z)
print(f"Sum= {z}")

22
Sum= 22

In [4]:
a=12
b=9
print(f"Sum:{a+b}")

Sum:21

In [31]:
# Addition
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))

sum_result = num1 + num2

print(f"Sum: {num1} + {num2} = {sum_result}")

Enter the first number for addition: 10
Enter the second number for addition: 20
Sum: 10.0 + 20.0 = 30.0

In [32]:
# Division
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))

if num4 == 0:
    print("Error: Division by zero is not allowed.")
else:
    div_result = num3 / num4
    print(f"Division: {num3} / {num4} = {div_result}")

Enter the dividend for division: 20
Enter the divisor for division: 5
Division: 20.0 / 5.0 = 4.0

In [33]:
# Input the base and height from the user
base = float(input("Enter the length of the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Calculate the area of the triangle
area = 0.5 * base * height

# Display the result
print(f"The area of the triangle is: {area}")

Enter the length of the base of the triangle: 5
Enter the height of the triangle: 10
The area of the triangle is: 25.0

In [26]:
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
sum = num1+num2
sub = num1-num2
mul = num1*num2
div = num1/num2
print("Sum of two numbers=", sum)
print("Sub of two numbers=", sub)
print("Mul of two numbers=", mul)
print("Div of two numbers=", div)

Enter the first number:15
Enter the second number:5
Sum of two numbers= 20
Sub of two numbers= 10
Mul of two numbers= 75
Div of two numbers= 3.0

In [27]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area = 0.5 * base * height

print(f"The area of the triangle is {area}")

Enter the base of the triangle: 5
Enter the height of the triangle: 10
The area of the triangle is 25.0

In [28]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width

print(f"The area of the rectangle is {area}")
print("Area=", area)

Enter the length of the rectangle: 10
Enter the width of the rectangle: 5
The area of the rectangle is 50.0
Area= 50.0

## **For Loop**

In [7]:
for i in range(2, 12,2):
    print(i)

2
4
6
8
10

In [9]:
for i in range(3,5):
    print(f"{i}.Ohi")

3.Ohi
4.Ohi

In [10]:
fruits = ["Apple", "Banana", "Mango"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Mango

In [1]:
#Simple calculator
principal = float(input("Enter principal amount: "))
rate = float(input("Enter rate of interest: "))
time = float(input("Enter time (years): "))

interest = (principal * rate * time) / 100

print(f"Simple Interest = {interest}")

Enter principal amount: 10000
Enter rate of interest: 5
Enter time (years): 4
Simple Interest = 2000.0

In [2]:
# Temprature converter
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"Temperature in Fahrenheit = {fahrenheit}")

Enter temperature in Celsius: 100
Temperature in Fahrenheit = 212.0

In [3]:
# Even or Odd Checker
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 20
Even number

In [4]:
# Age category checker
age = int(input("Enter your age: "))

if age < 13:
    print("Child")
elif age < 20:
    print("Teenager")
elif age < 60:
    print("Adult")
else:
    print("Senior Citizen")

Enter your age: 55
Adult

In [5]:
# Grocery Bil
price = float(input("Enter price of one item: "))
quantity = int(input("Enter quantity: "))

total = price * quantity

print(f"Total Bill = {total}")

Enter price of one item: 60
Enter quantity: 4
Total Bill = 240.0

In [6]:
#Electricity bill
units = float(input("Enter electricity units consumed: "))

if units <= 100:
    bill = units * 5
else:
    bill = units * 8

print(f"Electricity Bill = {bill}")

Enter electricity units consumed: 350
Electricity Bill = 2800.0

In [7]:
#Password checker
password = input("Enter password: ")

if password == "1234":
    print("Access Granted")
else:
    print("Access Denied")

Enter password: 4567
Access Denied

In [8]:
# Student grade calculator
marks = float(input("Enter your marks: "))

if marks >= 80:
    grade = "A+"
elif marks >= 70:
    grade = "A"
elif marks >= 60:
    grade = "B"
elif marks >= 50:
    grade = "C"
else:
    grade = "Fail"

print(f"Grade = {grade}")

Enter your marks: 78
Grade = A

In [9]:
#ATM Withdraw System
balance = 10000

withdraw = float(input("Enter amount to withdraw: "))

if withdraw <= balance:
    balance = balance - withdraw
    print(f"Transaction Successful. Remaining balance = {balance}")
else:
    print("Insufficient Balance")

Enter amount to withdraw: 3456
Transaction Successful. Remaining balance = 6544.0

In [10]:
#BMI Calaculator
weight = float(input("Enter weight (kg): "))
height = float(input("Enter height (meter): "))

bmi = weight / (height ** 2)

print(f"Your BMI = {bmi}")

Enter weight (kg): 78
Enter height (meter): 3
Your BMI = 8.666666666666666

In [11]:
#Multiplication Table Generator
number = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{number} x {i} = {number*i}")

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [14]:
#Sum of N natural Numbers
n = int(input("Enter a number: "))
total = 0

for i in range(1, n+1):
    total += i

print("Sum =", total)

Enter a number: 10
Sum = 55

In [15]:
#Factorial calculator
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n+1):
    fact *= i

print("Factorial =", fact)

Enter a number: 5
Factorial = 120

In [17]:
#Countdown Timer
n = int(input("Enter countdown number: "))

while n > 0:
    print(n)
    n -= 1

print("Time's up!")

Enter countdown number: 5
5
4
3
2
1
Time's up!

In [18]:
#Number guessing
secret = 7
guess = 0

while guess != secret:
    guess = int(input("Guess the number: "))

print("Correct Guess!")

Guess the number: 5
Guess the number: 4
Guess the number: 5
Guess the number: 7
Correct Guess!